@model IEnumerable<PartyInvites.Models.GuestResponse>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Look at all these people!</title>
</head>
<body>
    <h2>All these people are super cool party people!</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PartyInvites.Models.GuestResponse response in Model)
            {
                <tr>
                    <td>@response.Name</td>
                    <td>@response.Email</td>
                    <td>@response.Phone</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>