@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>We're gonna have a super fun party! (WOO!)</h3>
        <h6>you're invited or something, I guess.</h6>

        <a class="btn btn-primary" asp-action="RsvpForm">Go RSVP!</a>
        </p>
    </div>
</body>
</html>
